<div id="imageWrap">
    <img src="/static/dino1.jpg" alt="Main Image" id="mainImage"/>
    <a href="#left-button" class="button" id="leftbutton">Left</a>
    <a href="#right-button1" class="button" id="rightbutton">Right</a>
</div>
