	<div class="picture" style="text-align:center;">
		<h3 id="datitle">
		    {{title}}
		</h3>
		<img id="mainImage" src="/image?id=0"; style="max-width:60%; max-height:60%">
		<h1 id="like"
        style="
        cursor:pointer;
cursor: pointer;
background: #B8E68A;
max-width: 20%;
border-radius: 5px; 
margin-left: 40%;
"

        
        > Like </h1>
	</div>
		<p id="leftbutton"> Previous </p>
		<p id="rightbutton"> Next </p>
	<p id="notification">
	Notification Here
	</p>
    <script>
        var jsonarry = '{{json}}';
        titles = ['Cards','Pillow', 'test'];
    </script>
