body {
	text-align: center;
}
.header {
	border-style: solid;
	background-color: #FFFFEB;
	border-color: #B8E68A;
	border-width: 10px;
	text-align: center;
	border-radius: 10px;
	margin: 0px auto;
	box-shadow: 10px 10px 5px  #669166;
}
.header h1 {
	color: #6F8F50;
	font-size: 6em;
}
.header p {
	color: #6F8F57;
	font-size: 2em;
}
#post {
	height: 20%;
    width: 50%;
    border-color: #B8E68A;
    background-color: #FFFFEB;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    margin-top: 2%;
    text-align: center;
    box-shadow: 10px 10px 5px  #669166;
    padding: 2%;
    display: inline-block;
    font-size: 4em;
    color: #6F8F57;
}
#post:hover {
	color: #000000;
	text-decoration: none;
}
#look {
	height: 20%;
    width: 50%;
    border-color: #B8E68A;
    background-color: #FFFFEB;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    margin-top: 2%;
    text-align: center;
    box-shadow: 10px 10px 5px  #669166;
    padding: 2%;
    display: inline-block;
    font-size: 4em;
    color: #6F8F57;
}
#look:hover {
	color: #000000;
	text-decoration: none;
}
.picture {
	border-style: solid;
	background-color: #FFFFEB;
	border-color: #B8E68A;
	border-width: 10px;
	text-align: center;
	border-radius: 10px;
	margin: 0px auto;
	box-shadow: 10px 10px 5px  #669166;
	width: 600px;
	height: 600px;
	display: inline-block;
	margin-top: 50px;
}
.picture h3 {
	color: #6F8F57;
	font-size: 2em;
}
#leftbutton {
	border-style: solid;
	background-color: #FFFFEB;
	border-color: #B8E68A;
	border-width: 3px;
	border-radius: 20px;
	text-align: center;
	margin-top: 275px;
	margin-left: 300px;
	box-shadow: 10px 10px 5px  #669166;
	display: inline-block;
	float: left;
	padding: 1%;
}
#leftbutton {
	font-size: 2.5em;
	font-weight: bold;
	color: #8FB26B;
}
#leftbutton:hover {
	color: #000000;
	text-decoration: none;
}
#rightbutton {
	border-style: solid;
	background-color: #FFFFEB;
	border-color: #B8E68A;
	border-width: 3px;
	border-radius: 20px;
	text-align: center;
	margin-top: 275px;
	margin-right: 300px;
	box-shadow: 10px 10px 5px  #669166;
	display: inline-block;
	float: right;
	padding: 1%;
}
#rightbutton {
	font-size: 2.5em;
	font-weight: bold;
	color: #8FB26B;
}
#rightbutton:hover {
	color: #000000;
	text-decoration: none;
}
#notification {
	font-size: 2.5em;
	color: #6F8F57;
	text-align: center;
	border-style: solid;
	background-color: #FFFFEB;
	border-color: #B8E68A;
	border-width: 10px;
	text-align: center;
	border-radius: 10px;
	max-width: 70%;
	margin: 0px auto;
	margin-top: 50px;
	box-shadow: 10px 10px 5px  #669166;
}