body{
    text-align:center;
    background: url("http://www.psdgraphics.com/file/nature-background.jpg");
}

form{
    max-width: 50%;
}

.vert
{
    margin-top:8%;
}

.col-centered{
    margin: 0 auto;
    float: none;
}

h1{
    font-size:300%;
}
h2{
    font-size:200%;
}

