<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
        <title>Swaggr</title>
        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/static/main.css">
		<link type="text/css" rel="stylesheet" href="/static/Swaggr_home.css"/>
	
  		<link type="text/css" rel="stylesheet" href="/static/dropzone.css"/>
  		<link type="text/css" rel="stylesheet" href="/static/Swaggr_upload.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="/static/main.js"></script>
<!--  		<script src="/static/dropzone.js"></script>-->
	    <script type="text/javascript" src="/static/app.js"></script>

        </head>
        <body>
         
             {{{body}}}
              
             </body>
             </html>
